#!/usr/bin/env ruby

require 'pry'

compile '/index.slim' do
  filter :slim
  layout '/coronavirus.*'
  write '/index.html'
end

compile '/**/*.slim' do
  filter :slim
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/case-studies/**/*.gs' do
  filter :govspeak
  layout '/case-study.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.gs' do
  filter :govspeak
  layout '/case-study.*'
  write item.identifier.without_ext + '/index.html'
end

ignore '/css/**/*.md'
compile '/**/*.md' do
  filter :kramdown
  layout '/govspeak.*'
  write item.identifier.without_ext + '/index.html'
end

%w(woff woff2).each do |ext|
  compile("/**/*.#{ext}") do
    write '/assets/fonts/' + File.basename(item.identifier.to_s)
  end
end

ignore '/css/govuk/**/*'
ignore '/**/_*.scss'

compile '/**/*.scss' do
  filter :sassc, syntax: :scss, style: :compressed, load_paths: ['content/css/', 'content/css/govuk_publishing_components']
  snapshot :css
  write item.identifier.without_ext + '.css'
end

compile '**/*.svg' do
  write '/css/govuk_publishing_components/' + File.basename(item.identifier.to_s)
  write '/css/component_guide/' + File.basename(item.identifier.to_s)
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :slim
