#!/usr/bin/env ruby

compile '/index.slim' do
  filter :slim
  layout '/default.*'
  write '/index.html'
end

compile '/**/*.slim' do
  filter :slim
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

ignore '/**/_*.sass'
compile '/**/*.sass' do
  filter :sassc, syntax: :sass, style: :compressed, load_paths: ['content/css/']
  snapshot :css
  write item.identifier.without_ext + '.css'
end

ignore '/css/govuk/**/*'

compile '/**/*' do
  write item.identifier.to_s
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :slim
