div[class="govuk-!-margin-top-3"]
  .gem-c-step-nav-header.part-of-banner
    span.gem-c-step-nav-header__part-of Part of
    a[href="/" class="gem-c-step-nav-header__title"] Education and childcare during coronavirus
