@import "govuk/settings/all";
@import "govuk/tools/all";
@import "govuk/helpers/all";
@import "govuk/core/all";
@import "govuk/objects/all";
@import "govuk/components/all";
@import "govuk/utilities/all";
@import "govuk/overrides/all";

@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/component_support";
@import "govuk_publishing_components/components/previous-and-next-navigation";
@import "govuk_publishing_components/components/mixins/govuk-template-link-focus-override";
@import "govuk_publishing_components/components/contents-list";

$info-bg: #edf8ff;

// kramdown table of contents
#markdown-toc {
  margin-left: 0;
  margin-bottom: 2rem;
  list-style: none;

  &ul,
  ul {
    list-style: none;
  }

  li {
    &::before {
      content: "–";
      margin-right: 0.5rem;
    }
  }
}

.gem-c-govspeak {
  hr {
    @include govuk-responsive-margin(6, "top");
    @include govuk-responsive-margin(6, "bottom");
    border-top: 1px solid $govuk-border-colour;
    border-bottom: 0;
  }

  .advisory {
    background-color: $info-bg;
    margin: 1em auto;
    padding: 1em;
  }
}

code {
  background-color: #fff5f5;
}

.approach-heading {
  margin: 3rem 0 0;
}

.approach {
  padding: 2rem 0rem 2rem;

  &:first-of-type {
    border-top: 1px solid govuk-colour("mid-grey");
  }

  &:not(:last-child) {
    border-bottom: 1px solid govuk-colour("mid-grey");
  }

  .pros-and-cons {
    background: govuk-colour("light-grey");
    border-top: solid 5px govuk-colour("blue");
  }
}

.masthead {
  background-color: govuk-colour('black');

  .govuk-header__container {
    border-bottom: 0;
    margin-bottom: 0;
    .govuk-header {
      margin-bottom: 0;
      border-bottom: 0;
    }

  }

  .masthead__content {
    border-top: 10px solid govuk-colour('yellow');

    .masthead__header > h1 {
      color: govuk-colour('white');
      margin: 2rem 0;
    }
  }

  $submasthead-bg: #272828;

  .submasthead {
    background-color: $submasthead-bg;

    * {
      color: govuk-colour('white');
    }

    .submasthead__top_row {
      border-bottom: 4px solid govuk-colour('yellow');
    }

    .submasthead__links-header {
      margin: 2rem 0 0.5rem;
    }

    .submasthead__link {
      margin: 0.5rem 0 2rem;
      @include govuk-font($size: 19);
    }

    .submasthead__content {
      margin: 2rem 0;
    }

  }
}
