@import "govuk/settings/all";
@import "govuk/tools/all";
@import "govuk/helpers/all";
@import "govuk/core/all";
@import "govuk/objects/all";
@import "govuk/components/all";
@import "govuk/utilities/all";
@import "govuk/overrides/all";

@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/component_support";

// kramdown table of contents
#markdown-toc {
  list-style: none;
  margin-left: 0;
  margin-bottom: 2rem;

  li {
    &::before {
      content: "–";
      margin-right: 0.5rem;
    }
  }
}

.gem-c-govspeak {
  hr {
    @include govuk-responsive-margin(6, "top");
    @include govuk-responsive-margin(6, "bottom");
    border-top: 1px solid $govuk-border-colour;
    border-bottom: 0;
  }
}
